@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Poppins:wght@100;200;300;400&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #CBE4DE;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: dashed;
}
body{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: rgb(46,79,79);
    background: linear-gradient(90deg, rgba(46,79,79,1) 0%, rgba(14,131,136,1) 39%);
}
main{
    display: grid;
    place-content: center;
    height: 100%;
}
.login{
    height: auto;
    width: 400px;
    background: #2E4F4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding:2em 1rem;
}
form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}
form input{
    padding: .5rem;
    border-radius:10px;
    border: none;
    color: #CBE4DE;
    background: #0e848833;
}

.botao{
    background: #0E8388;
    padding: 1rem 0;
    font-weight: bold;
}